<script>
    const chuckNorrisFacts = (async () => {
        const response = await fetch('https://api.chucknorris.io/jokes/random')
        return await response.json()
    })();
</script>

{#await chuckNorrisFacts}
    <p>...waiting</p>
{:then data}
    <div>
        <img src="http://placekitten.com/400/400" alt="">

        <p>{data.value}</p>
    </div>
{:catch error}
    <p>An error occurred!</p>
{/await}