<script>
    const meteo = (async () => {
        const response = await fetch('https://api.openweathermap.org/data/2.5/weather?q=bonneval&appid=31cf29871f0dfbf1fdd030f332a9fe5b&lang=fr')
        return await response.json()
    })();
</script>

{#await meteo}
    <p>Weather is loading...</p>

{:then data}
    <p>{JSON.stringify(data.weather[0])}</p>

{:catch error}
    <p>An error occurred!</p>

{/await}